#version {
	color : red;
	font-size : 12px;
        float:center
	}
	
#rblogo {
	float:left;
	padding-right: 4px;
        padding-top:8px;
	
}

#sweg {
    verticle-align: middle;
    padding-top: 18px;
    
}
<<<<<<< HEAD
.field {
	color: white;
	margin: 10px 10px;
	background: transparent;

}
#lbutton {

	color: White;
	background-color : transparent;
	border-style:none;
}
#linkz {
	color: black;
}
#textbox {
	color : white;
	background: transparent;
	border: dotted;
}

a {
	color:#fff;
}
=======
>>>>>>> parent of 9bc90c5... Login pages- views styled - 11:40 29th
